<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
<!--<<<<<<< HEAD-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<!--=======-->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
<!--&gt;>>>>>> 06e991b3139798d6c0c8489397007f826a167854-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RR"
        tools:targetApi="31">
        <activity
            android:name="com.example.rr.pg_info2"
            android:exported="true" />
        <activity
            android:name="com.example.rr.splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rr.SignUpPage"
            android:exported="true" />
        <activity
            android:name="com.example.rr.LoginScreen"
            android:exported="true" />
        <activity
            android:name="com.example.rr.PrivacyActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.TermsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.InputActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.AboutActivity"
            android:exported="true" />
        <activity
            android:name="com.example.rr.EditProfileActivity1"
            android:exported="true" />
        <activity
            android:name="com.example.rr.welcome"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAkipjr54oXixnQXujJhv5sGh7oWeNt-s" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>